*{
    padding:0px;
    margin: 0px;
}

body{
    background:#f7f7f7;
}

/*头部*/
.head {
    height: 65px;
    background: black;
}

.headbox {
    width: 1200px;
    height: 100%;
    margin: auto;

}
.headbox img {
    margin-top: 8px;
}
.head .headbox ul {
    float: right;
    font-size: 0;
    text-align: right;
}

.head .headbox ul li {
    display: inline-block;
    line-height: 20px;
    padding: 25px 30px;
}

.head .headbox ul li a {
    color: #fff;
    font-size: 16px;
    display: block;
    text-decoration: none;
    transition: color .1s ease-in;
}
.head .headbox ul .last {
    padding-right: 0;
}

/*工单内容*/
.content {
    width: 1160px;
    margin:20px auto;
    border: 1px solid gainsboro;
    background: white;
    padding: 20px;
}
.content .cont-top {
    height: 55px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 25px;
}
.content .cont-top h2 {
    float: left;
    padding-left: 45px;
    color: #009de7;
}
.content .cont-top form {
    float: right;
}
.content .cont-top .src-btn {
    float:right;
    height: 34px;
    width: 65px;
    background: #009de7;
    border: none;
    color: white;
    font-size: 15px;
}

.cont-information {
    width: 100%;
}
.cont-information ul li {
    width: 80%;
    list-style: none;
    padding: 14px 0px 14px 60px;

}
.cont-information ul li .tip {
    color: #009de7;
    font-size: 18px;
}
.cont-information ul li label {
    display: inline-block;
    width: 120px;
    line-height: 20px;
    color: #37474F;
    font-size: 16px;
    text-align:left;
}
.cont-information ul li span{
    color: red;
}

input[type="text"] {
    display: inline-block;
    width: 300px;
    padding: 6px 8px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #CDCDCD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.cont-information ul li textarea {
    width: 678px;
    height: 199px;
    vertical-align: top;
}
.safe_inspection{
    width: 89%;
    padding: 10px 0px 20px 0px;
    margin-left: 60px;
    margin-top: 20px;
    height: 139px;
    border-bottom: 1px dashed gainsboro;
}
.safe_left{
    width: 170px;
    height: 54px;
    font-size: 18px;
    float: left;
}
.safe_left span{
    color: red;
}

.safe_right{
    width: 280px;
    height: 130px;
    float: left;
}

.code_top{
    width: 280px;
    height: 50px;
    padding-bottom: 20px;
}
.code_pic{
    width: 150px;
    height: 50px;
    float: left;
}

.code_pic img{
    width: 150px;
    height: 50px;
}

.tab{
    margin-left: 10px;
    margin-top: 10px;
    width: 85px;
    height: 30px;
    border: none;
    background:paleturquoise ;
    border-radius: 10px;
    font-size: 16px;
}

/*文件上传*/
.files{
    width: 70%;
    height: 30px;
    padding-top: 20px;
    margin-left: 175px;
}

.files label{
    float:left;
    width:165px;
    height:30px;
    line-height:35px;
    background: plum;
    padding:0px 0px 0px 42px;
    box-sizing: border-box;
    color: #757575;
    font-size: 18px;
}

.files label:nth-of-type(1){
    background: url(../img/contact_ds/file.png)no-repeat 0px 0px;
    background-size: 32px 32px;
}

.upload{display: none;}

#upfile{
    display: block;
    padding-left: 10px;
    width: 325px;
    height: 30px;
    border: 1px solid #dfdede;
    line-height: 30px;
    color: gray;
    font-size: 18px;
    float:left;
}


/*提交*/
.submit {
    padding: 20px 0px 30px 0px;
    text-align: center
}
.submit .btn {
    width: 125px;
    height: 45px;
    background: #009de7;
    font-size: 18px;
    color: white;
    border: none;
}