body{
    margin:10px 0;
}

header{
    padding:0 20px;
    border-bottom:1px solid #999;
}
header h3{
    padding:20px 0;
}

.content{
    padding:20px;
}
.content .continu{
    color:#999;
    font-size:12px;
}
.content .continu_time{
    font-size:14px;
    color:#666;
    margin-top:10px;
    font-weight: bold;
}

.content .install_tip{
    font-size:14px;
    margin:20px 0;
    font-weight: bold;
}

.content .install_btn{
    display: inline-block;
    padding:10px 20px;
    background:#42ABDD;
    color:#fff;
}