body{
    width:760px;
    margin:0 auto;
    padding-top:10px;
}
/*头部*/
header h2{
    height:70px;
    line-height: 70px;
    font-size:30px;
    font-family: "宋体 Bold";
    font-weight:bold;
}

/*导航*/
nav{
    position:relative;
}
nav ul{
    border-bottom:1px solid #666;
    width:612px;

}
nav ul li{
    float:left;
    padding:11px 20px;
    border:1px solid #666;
    border-bottom:none;
    text-align: center;
    margin-right:6px;
}
nav ul li:nth-child(2) a{
    color:#42ABDD;
}

nav ul li:last-of-type{
    margin-right:0;
}
nav ul li a{
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight:bold;
    color:#666;
    font-size:18px;
}
nav ul li a.current{
    color:#42ABDD;
}
nav .login_account{
    position:absolute;
    color:#42ABDD;
    font-size:14px;
    right:0;
    top:10px;
}

/*识别产品*/
.identify_content h3{
    font-size: 24px;
    font-weight:500;
    margin:20px 0;
}
.identify_content .select_product{
    font-weight:700;
    font-size:16px;
}

.identify_content .select_suggest{
    padding:10px 0;
    font-size:12px;
}

.identify_content .select_suggest span{
    font-size:14px;
    font-weight:bold;
}

.identify_content .select_network{
    height:34px;
    line-height: 34px;
    padding-left:10px;
    background:#D9D9D9;
    font-size:14px;
    font-weight:700;

}
.identify_content .select_network span{
    font-weight:normal;
}


/*识别产品列表*/
.product_list{
    margin-top:20px;
}
.product_list li{
    float:left;
    border:1px solid #999;
    margin-right:11px;
    margin-bottom:11px;
    max-width:180px;
}

.product_list li a{
    display:block;
}
.product_list li:nth-child(4n){
    margin-right:0;

}
.product_list li .list_img{
    padding:16px;
    text-align: center;
}
.product_list li .list_img img{
    width:90px;
    height:90px;
}
.product_list li .list_img p{
    height:26px;
    line-height: 26px;
}
.product_list li .list_info{
    border-top:1px solid #999;
    padding:10px;
}
.product_list li .list_info p{
    font-size:12px;
    height:18px;
    line-height: 18px;
    color:#000;
}
.product_list li .list_info p span{
    font-weight: bold;
    color:#0096D6;
}

